@keyframes bounce {
  0% {transform: scale(1); }
  50% { transform: scale(1); }
  100% {transform: scale(1); }
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(#DC143C, #781125);
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  box-shadow: 6px 3px 25px rgba(0,0,0,0.4);
}