.badge {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 4rem;
  color: white;
  background: goldenrod;

  display: flex;
  justify-content: center;
  align-items: center;
}

.badge::after {
  content: '15';
}