.wrapper {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.circle, .square {
  width: calc(100vw / 4);
  height: calc(100vw / 4);
}

.circle {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 0.5rem solid #a171d7;
}

.logo {
  width: 70%;
  border-radius: 1rem;
}

.square {
  font-size: 1.8rem;
  font-weight: bold;
  background: repeating-linear-gradient(-45deg, #7038ba, #7038ba 10px, #a171d7 10px, #a171d7 20px);
  border: 10px dashed var(--bg-colour);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}
