.editor {
  position: relative;
  width: 70vw;
  height: calc(70vw / 2);
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.name {
  position: absolute;
  top: calc(-40px + 4px);
  left: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  background: black;
  padding: 0 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.name::after {
  content: '';
  position: absolute;
  top: 0;
  right: -40px;
  border: 20px solid transparent;
  border-left-color: black;
  border-bottom-color: black;
}