.textarea {
  font-family: 'Inconsolata', monospace;
  letter-spacing: 1px;
  padding: 20px;
  width: 100%;
  border: 4px solid black;
  margin-right: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  resize: none;
  outline: none;
  white-space: pre;
}